 /* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
  color: #333;
}
.headingClass {
  color: #7fffd4; /* Light blue box color */
  font-size: 3rem; /* Larger font size for emphasis */
  font-weight: bold; /* Make the text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow for better contrast on white text */
  display: inline-block; /* Fit the border and shadow */
  padding-bottom: 10px; /* Space between text and border */
}